{{define "jumphosts" }}

{{with .Error }}
<div class="row justify-content-center align-items-center g-2" style="margin-top: 10px;">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            {{.}}
        </div>
    </div>
</div>
{{end}}

<div class="row justify-content-center align-items-center g-2" style="margin-top: 10px;">
    <div class="col">
        <button type="button" class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#jumphost-edit-modal"
        >
            <span class="bi-plus-circle"></span>
            <b class="d-inline">
                New Jumphost
            </b>
        </button>

        <button hidden id="open-modal" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#jumphost-edit-modal">
        Hidden
    </button>
    </div>
</div>
<div class="row justify-content-center align-items-center g-2 row-gap-4" size="height: 200px">
    <div class="col">
        <hr class="hr" size="height: 200px" />
    </div>
</div>

{{range $jumphost_id, $jumphost := .Jumphosts}}
    <div class="row justify-content-center align-items-center g-2" style="margin-bottom: 20px;">
        <div class="col">
            <div class="card text-start">
                <div class="card-body">
                    <h4 class="card-title">{{$jumphost.Name}}</h4>
                    <p class="console command">{{$jumphost.Command}}</p>
                    <p class="card-text align-content-end">
                        <button type="button" class="btn btn-danger"
                        hx-trigger="click" hx-delete="jumphost/delete/{{$jumphost_id}}"
                                            hx-confirm="Are you sure to delete {{$jumphost.Name}} jumphost?"
                                            hx-swap="innerHTML" hx-target="#main"
                        >
                            Delete
                        </button>
                        <button hx-trigger="click" hx-get="jumphost/get/{{$jumphost_id}}"
                        hx-target="#jumphost-edit-modal" hx-swap="outerHTML"
                        hx-trigger="click from:button" type="button" class="btn btn-primary"
                        data-bs-toggle="tooltip" data-bs-title="Edit">
                        Edit
                    </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{block "jumphost-edit-modal" . }}
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="jumphost-edit-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        {{if eq .CurrentJumphost 0}}
        <form hx-post="/jumphost/add" {{else}} <form hx-post="/jumphost/update/{{.CurrentJumphost}}" {{end}} hx-target="#main"
            class="modal-content">
            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="inputName" class="col-1 col-form-label">Name</label>
                    <div class="col">
                        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name"
                            value="{{ with (index .Jumphosts .CurrentJumphost)}}{{ .Name }}{{end}}" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputCommand" class="col-1 col-form-label">Command</label>
                    <div class="col">
                        <input type="text" class="form-control" name="inputCommand" id="inputCommand"
                            placeholder="http(s)://<server>:<port>/<path>"
                            value="{{ with (index .Jumphosts .CurrentJumphost)}}{{ .Command }}{{end}}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
        </form>
    </div>
</div>
{{end}}

<!-- Optional: Place to the bottom of scripts -->
<script>
    document.body.addEventListener("showModal", function (e) {
        var openModalButton = document.getElementById('open-modal');
        openModalButton.click(); // Trigger the click event
    })
</script>

{{end}}
